<form
  *ngIf="formGroup"
  [formGroup]="formGroup"
  (submit)="onSubmit()"
  class="form"
>

  <h2>Zarejestruj się</h2>

  <app-control-input
    [formControl]="getControl('email')"
    type="email"
    placeholder="E-mail"
    class="form__control"
  ></app-control-input>

  <app-control-input
    [formControl]="getControl('password')"
    type="password"
    placeholder="Hasło"
    class="form__control"
    (input)="comparePasswords()"
  ></app-control-input>

  <div class="password__group">
    <app-control-input
      [formControl]="getControl('confirm_password')"
      type="password"
      placeholder="Potwierdź hasło"
      class="form__control"
      (input)="comparePasswords()"
    ></app-control-input>

    <span
      class="form__error"
      *ngIf="passwordsMismatch"
    >Hasła nie zgadzają się</span>
  </div>


  <button
    mat-raised-button
    color="primary"
    type="submit"
    class="form__button"
  >Zarejestruj</button>

  <div class="form__bottom">
    <hr class="separator" />

    <p>Masz już konto?</p>
    <a [routerLink]="['../login']">Zaloguj się</a>
  </div>

</form>