@import '/src/assets/helpers/consts';
@import "/src/assets/helpers/mixins/div-shadow.scss";

.container {
  margin: 40px 100px 40px;
  padding: 40px 60px;
  position: relative;

  @include divShadow;
}