<nav class="menu">
  <div class="menu__container">
    <div class="menu__links">
      <a
        class="link"
        [routerLink]="['/dashboard']"
        routerLinkActive="link--active"
      ><i class="ri-home-2-line"></i> Główna</a>
      <a
        class="link"
        [routerLink]="['/user']"
        routerLinkActive="link--active"
      ><i class="ri-user-line"></i> Mój Profil</a>
      <a
        class="link"
        [routerLink]="['/tests']"
        routerLinkActive="link--active"
      ><i class="ri-article-line"></i> Testy</a>
    </div>
    <button
      mat-raised-button
      color="primary"
      (click)="onLogout()"
      class="logout-btn"
    >
      Wyloguj
      <i class="ri-logout-box-r-line"></i>
    </button>
  </div>
</nav>