<nav
  class="menu"
  *ngIf="loggedIn$ | async"
>
  <div class="menu__container">
    <div class="menu__links">
      <a
        class="link"
        routerLink="/dashboard"
      ><i class="ri-home-2-line"></i> Główna</a>
      <a
        class="link"
        routerLink="/user"
      ><i class="ri-user-line"></i> Mój Profil</a>
      <a
        class="link"
        routerLink="/tests"
      ><i class="ri-article-line"></i> Testy</a>
    </div>
    <button
      mat-raised-button
      color="primary"
      (click)="onLogout()"
      class="logout-btn"
    >
      Wyloguj
      <i class="ri-logout-box-r-line"></i>
    </button>
  </div>
</nav>